.resto-card {
  max-width: 230px;
  min-width: 230px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none !important;
  border-radius: 16px !important;

  img {
    width: 100%;
    height: 150px;
    border-radius: 16px;
    image-rendering: pixelated;
  }

  .card-info {
    padding: 10px;
    .cuisines {
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      text-overflow: ellipsis;
      width: 200px;
    }

    .card-details {
      p {
        font-size: 12px;
        margin-right: 20px;
      }
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}
